<h1><%- title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <%  }) %>
    </ul>
<% } %>

<form class="account" action="/account/update" method="post">
    <label>First name<input type="text" name="account_firstname" required autocomplete="given-name" value="<%= locals.account_firstname %>"></label>
    <label>Last name<input type="text" name="account_lastname" required autocomplete="family-name" value="<%= locals.account_lastname %>"></label>
    <label>Email address<input type="email" name="account_email" required autocomplete="email" value="<%= locals.account_email %>"></label>

    <input type="submit" value="Update">
    <input type="hidden" name="account_id" value="<%= locals.account_id %>">
    <input type="hidden" name="old_email" value="<%= locals.account_email %>">
</form>
<form class="account" action="/account/update-password" method="post">
    <label for="accountPassword">Password:</label>
    <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>
    <input type="password" name="account_password" id="accountPassword" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
    <input type="submit" value="Change password">
    <input type="hidden" name="account_id" value="<%= locals.account_id %>">
</form>